* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f4c524;
    font-family: "Poppins", sans-serif;
}

/*==== Home page ====*/

.home img {
    width: 350px;
    height: 350px;

    display: block;
    margin: auto;
}

/* home-menu-categories */

.row1 {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;

    padding: 0 0 5px 0;
}

.row2 {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;

    padding: 5px 0 0 0;
}

.home-menu a {
    text-decoration: none;
    text-transform: uppercase;

    color: #7f3e1a;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    
    width: 200px;
    border: 5px solid #7f3e1a;
    border-radius: 10px;
}

/*=== Category pages === */

/* header */

header {
    background-color: #f08c2b;
    width: 100%;
    height: 145px;
    top: 0;

    position: fixed;
    text-align: center;
}

header i {
    float: left;
    padding: 20px 0 0 20px;
    margin: 35px 0 35px 0;
    font-size: 40px;
    color: #7f3e1a;
}

header h1 {
    color: #7f3e1a;
    font-size: 80px;
    margin: 8.5px 0 8.5px 0;
}

header img {
    width: 140px;
    height: 140px;
    float: right;
}

/* Items */

.items {
    width: 50%;
    margin-top: 145px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0 10px 0;

}

/* items-list */

.items-list a {
    text-decoration: none;
    border: 5px solid #f08c2b;
    border-radius: 10px;

    width: 320px;
    height: 320px;
}

.items-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.items-list h2 {
    color: #7f3e1a;
    background-color: #f08c2b;
    margin: 100px 0 0 0;
    text-align: center;
}

.items-list i {
    float: right;
    padding-top: 6px;
}

/*=== item-info-box ===*/

.item-info-box {
    display: block;
    width: 90%;

    margin: auto;
    margin-top: 145px;
    padding: 20px 0 20px 0;
    border-radius: 10px;

    background-color: rgba(255, 255, 255, .8);
}

/* item-info-box-details */

.item-info-box-details img {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.item-info-box-details h2 {
    font-size: 25px;
    text-align: center;
    border: 5px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}

.price-serving p {
    font-size: 13px;
    display: inline-block;
    padding: 0 10px 0 10px;
}

.item-info-box-details a{
    margin-left: 10px;
}

/* description-sides */

.description-sides {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 10px 0 10px;
}

.description {
    width: 50%;
}

.sides ul {
    width: 50%;
    display: inline;
    list-style-type: none;
}

.notes {
    padding: 10px;
}

.notes textarea {
    width: 100%;
    margin-bottom: 10px;
}

.button {
    text-decoration: none;
    background-color: #f08c2b;
    color: #7f3e1a;
    padding: 10px;
    border-radius: 20px;
}

/*=== Thanks page ===*/

.thank-you {
    width: 70%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    border-radius: 20px;

    background-color: #f08c2b;
}

.thank-you i {
    text-align: center;
    padding: 20px 0 0 20px;
    margin: 35px 0 35px 0;
    font-size: 40px;
    color: #7f3e1a;
}

.thank-you img {
    width: 350px;
    height: 350px;

    display: block;
    margin: auto;
}

.thank-you h2 {
    text-align: center;
}
/*=== Media Queries ===*/

@media (max-width: 500px) {
    header{
        height: 100px;
    }

    header i {
        font-size: 25px;
        margin-top: 4px;
    }
    
    header h1 {
        font-size: 35px;
    }
    
    header img {
        width: 90px;
        height: 90px;
    }

    .item-info-box {
        margin-top: 100px;
    }

    .description {
        width: 100%;
    }

    .items {
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
}

@media (max-width: 358px) {
    header{
        height: 75px;
    }

    header i {
        font-size: 20px;
        margin-top: 5px;
    }
    
    header h1 {
        font-size: 30px;
    }
    
    header img {
        width: 70px;
        height: 70px;
    }

    .item-info-box {
        margin-top: 75px;
    }

    .description {
        width: 100%;
    }

    .items {
        margin-top: 75px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
}

@media (max-width: 300px) {
    header{
        height: 60px;
    }

    header i {
        font-size: 15px;
        margin-top: 6px;
    }
    
    header h1 {
        font-size: 20px;
        margin-top: 20px;
    }
    
    header img {
        width: 60px;
        height: 60px;
    }

    .item-info-box {
        margin-top: 60px;
    }

    .description {
        width: 100%;
    }

    .items {
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
}